* {
    box-sizing: border-box!important;
}
 
label {
    margin-top: 1rem!important;
    font-weight: bold!important;
    display: flex!important;
}
 
input {
    padding: 0.65rem 0.5rem!important;
    font-size: 1rem!important;
    border: 2px solid #B6B6B7!important;
    background-color: #f7fafc!important;
    color: #2d3748!important;
    border-radius: 10px!important;
}
 
input:focus {
    outline: none!important;
}
 
button {
    /* padding: 0.5rem 1.25rem!important; */
    /* font-size: 1rem!important; */
    border-radius: 10px!important;
    /* font-weight: bold!important; */
    /* margin-bottom: 1rem!important; */
    cursor: pointer!important;
    display: flex!important;
    /* margin-top: 1rem!important; */
}
