* {
    box-sizing: border-box;
}
 
label {
    margin-top: 1rem;
    font-weight: bold;
    display: flex;
}
 
input {
    width: 400px;
    padding: 0.65rem 0.5rem;
    font-size: 1rem;
    border: 2px solid #edf2f7;
    background-color: #f7fafc;
    color: #2d3748;
    border-radius: 10px;
}
 
input:focus {
    outline: none;
}
 
button {
    padding: 0.5rem 1.25rem;
    font-size: 1rem;
    border-radius: 10px;
    background-color: #4a5568;
    border: 2px solid #4a5568;
    color: white;
    font-weight: bold;
    margin-bottom: 1rem;
    cursor: pointer;
    display: flex;
    margin-top: 1rem;
}
