.paw-medium {
    width: 30px;
}

.paw-small {
    width: 25px;
}

.paw-container-right {
    display: flex;
    justify-content: flex-end;
    width: 300px;
    margin-right: 30px;
}

.img-bottom {
    position: fixed;
    bottom: 0;
    width: 1024px;
    padding: 0;
}

.paw-container-left {
    display: flex;
    justify-content: flex-start;
    width: 300px;
}