.navbar-container{
    background-color: rgba(255, 255, 255, 0.472);
    position: fixed;
    width: 100%;
    bottom: 0px;
    height: 70px;
}

.navbar-container span{
    text-decoration: none;
    color: black;
    font-size: 0.7em;
}

.icon-nav img{
    height: 35px
}


@media(min-width: 770px) {
    .navbar-container {
        display: none !important
    }
}